{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Projects</h1>
<div class="row">
{% for project in projects %}
    <div class="row">
        <div class="column">
            <style>
                .column {
                    float: left;
                    width: 32%;
                    padding: 5px;
                  }
            </style>   
            <img src="{% static project.image %}" alt="" width="100%" height: auto>
            <div class="row">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <a href="{% url 'project_detail' project.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}